body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}
#tools, canvas{
	display: inline-block;
}
#tools{
	vertical-align: top;
	width: 19%;
	height: 100%;
}
canvas{
	margin: auto auto;
	border: 1px dashed #2db9e3;
	border-left: 1px solid gray;
	cursor: pointer;
}